/* GENERAL */

@font-face {
  font-family: "Departure Mono";
  src: url("/assets/DepartureMono-Regular.woff2") format("woff2");
  font-display: swap;
}

:root {
  --font: "Departure Mono", ui-monospace, monospace;
  --font-size: 16.5px; /*  Should be multiple of 11px */

  --px:          calc(var(--font-size) / 11);  /*  1.5px  one font pixel */
  --line:        calc(var(--px) * 18);         /* 27  px  one row */
  --gap-row:     calc(var(--px) * 2);          /*  3  px  within a group */
  --gap-group:   calc(var(--px) * 8);          /* 12  px  between groups */
  --gap-section: calc(var(--px) * 16);         /* 24  px  between sections */
  --page:        calc(var(--px) * 32);         /* 48  px  page padding */

  --bg: #ffffff;
  --tint: #aeaeae;
  --heavy: #000000;
  --accent: #ddff00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000000;
    --heavy: #ffffff;
    --accent: #d40309;
  }
}

html {
  background-color: var(--bg);
  color: var(--heavy);
  font-family: var(--font);
  font-size: var(--font-size);
  line-height: var(--line);
  text-transform: uppercase;
}

body {
  margin: 0;
}

main {
  box-sizing: border-box;
  max-width: 640px;
  margin: 0 auto;
  padding: var(--page) 2ch;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER */

header {
  margin-bottom: var(--gap-section);
  padding-bottom: var(--gap-group);
  border-bottom: var(--px) solid var(--heavy);

  h1 {
    margin: 0;
    font: inherit;
    text-align: center;
    color: var(--bg);
    background-color: var(--heavy);
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1ch;
    margin-top: var(--gap-group);

    span {
        color: var(--tint);
    }

    a:hover {
      background-color: var(--accent);
    }
  }
}

/* PROJECTS */

.projects {
  .year {
    margin: 0 0 var(--gap-row);
    font: inherit;
    text-align: center;
    color: var(--tint);
  }

  ul + .year {
    margin-top: var(--gap-group);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li + li {
    margin-top: var(--gap-row);
  }

  a {
    display: flex;
    align-items: baseline;
    gap: 1ch;

    &:hover {
      background-color: var(--accent);

      .leader {
        border-color: var(--heavy);
      }
    }
  }

  .leader {
    flex: 1;
    align-self: center;
    min-width: 2ch;
    border-top: var(--px) dashed var(--tint);
  }

  .date {
    flex: none;
  }
}

/* NARROW SCREENS */

@media (width < 480px) {
  header nav {
    flex-wrap: wrap;

    span {
      display: none;
    }
  }

  .projects a {
    flex-wrap: wrap;

    .leader {
      display: none;
    }

    .date {
      color: var(--tint);
    }
  }
}
